<div style="float: right">
    <a href="#!/create" class="btn btn-default" ng-show="hasRole('admin')">Create</a>
</div>
<div class="page-header">
    <h3>News</h3>
</div>

<div ng-repeat="newsEntry in newsEntries">
    <hr />
    <div class="pull-right">
        <a ng-click="deleteEntry(newsEntry)" class="btn btn-xs btn-default" ng-show="hasRole('admin')">Remove</a>
        <a href="#!/edit/{{newsEntry.id}}" class="btn btn-xs btn-default" ng-show="hasRole('admin')">Edit</a>
    </div>
    <h4>{{newsEntry.date| date}}</h4>
    <p>{{newsEntry.content}}</p>
</div>
<hr />