<!DOCTYPE html>
<html ng-app="demoapp">
    <head>
        <title>Demo Application</title>
        <link href="css/bootstrap-3.0.2.min.css" rel="stylesheet">
    </head>
    <body style="padding-top: 60px">

        <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#!/">Demo Application</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#!/">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-show="user">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="alert alert-danger" ng-show="error">{{error}}</div>
            <div ng-view></div>
        </div>

        <script src="js/jquery-2.0.2.js"></script>
        <script src="js/bootstrap-3.0.2.min.js"></script>
        <script src="js/angular-1.2.3.js"></script>
        <script src="js/angular-resource-1.2.3.js"></script>
        <script src="js/angular-route-1.2.3.js"></script>
        <script src="js/angular-cookies-1.2.3.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>